---
import BlogLayout from "../layouts/BlogLayout.astro";

const pageTitle = "Hello";
---

<BlogLayout pageTitle={pageTitle}>
    <!-- Link to the games page -->
    <p>
        This is the home page. Check out my <a href="/github-pages-test/games/"
            >games page</a
        > for some fun projects!
    </p>
</BlogLayout>
