---
const { tagName } = Astro.props;
---
 
<a class="tag" href={`/tags/${tagName.toLowerCase()}/`}>{tagName}</a> 

<style>
    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: small;
        background-color: #F8FCFD; 
        text-decoration: none;
        display: block;
    }
    .tag:hover {
        background-color: #e0e0e0;
    }
</style>